.mobile-bottom-menu{
  width: 100%;
  background: var(--main-color);
  justify-content: center;
}
.inner-mobile-menu{
  width: 100%;
  max-width: 560px;
}



























