@import url(../Gifts/Gifts.css);
@import url(../Card/Card.css);
@import url(../Catalog/Catalog.css);

.sale-images{
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  min-width: 170px;
  max-width: 350px;
}
.sale-images .sale-big-img{
  width: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.sale-images .sale-small-img{
  position: absolute;
  top: 10px;
  left: 10px;
  width: 105px;
}
.sale-content{
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  flex: 1;
  min-width: 250px;
}
.sale-buttons{
  margin-top: 15px;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
}
.inner-sale-buttons{
  flex: 1;
  padding-left: 5px;
  padding-right: 5px;
}
.sale-btn{
  padding-left: 15px;
  color: #bfae7e;
  width: 75%;
  border: 1px solid var(--color-beige);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 18px;
  height: 38px;
  cursor: pointer;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sale-btn:hover{
  background-color: var(--main-color);
}
.sale-btn-link{
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-beige);
  color: #000;
  width: 100%;
}
.sale-btn-link:hover{
  background-color: var(--main-color);
  color: #fff;
}

@media (max-width: 1025px) {
  .sale-images {max-width: 280px;}
  .sale-images .sale-small-img {width: 80px;}
}
@media (max-width: 900px) {
  .sale-images {max-width: 180px;}
  .sale-images {
    padding-top: 5px;
    padding-bottom: 5px;}
  .sale-images .sale-big-img {width: 100%;}
  .sale-images .sale-small-img {width: 60px;}
  .sale-buttons{margin-left: auto;margin-right: auto;}
  .inner-sale-buttons{min-width: 100%;padding: 0;margin-bottom: 8px;}
  .sale-btn, .sale-btn-link{padding-left: 10px;padding-right: 10px;justify-content: center;}
}
@media (max-width: 700px) {
  .sale-images {max-width: 170px;}
}
@media (max-width: 400px) {
  .sale-content{padding-bottom: 3px;}
  .sale-images{padding-top: 10px;}
  .sale-images .sale-small-img {width: 50px;}
  .sale-images{max-width: 60%;}
}
@media (max-width: 320px) {
  .sale-btn {font-size: 16px;}
}



































