.account-left{
  flex: 1;
  border-right: 1px dashed #bfae7e;
  padding-left: 10px;
}
.account-right{
  flex: 1;
}
.account-title{
  font-size: 30px;
  line-height: 1.2em;
}
.border-red{
  margin-bottom: 3%;
  height: 3px;
  background: var(--main-color);
  width: 180px;
}
.avatar-wrap{
  width: 80px;
  height: 80px;
  margin-bottom: 2%;
  border-radius: 50%;
  background-color: #ede4bd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}
.avatar{
  width: 77px;
  height: 77px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.avatar img{
  width: 100%;
}
input[type="file"]{position: absolute;opacity: 0;z-index: -1;}
.avatar-download{
  position: absolute;
  left: auto;
  top: auto;
  right: -5%;
  bottom: -5%;
  width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 50px;
  background-color: #475467;
  background-image: url("../../assets/images/white.svg");
  background-position: 50% 50%;
  background-size: auto 55%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.account-form{
  width: 100%;
  max-width: 405px;
  display: flex;
  flex-direction: column;
}

.account-form-item{
  display: flex;
  flex-direction: column;
}
.label{
  margin-bottom: 1%;
  font-size: 14px;
  font-weight: 300;
}
.submit{
  display: block;
  width: 100%;
  min-height: 45px;
  margin-right: auto;
  margin-left: auto;
  background-color: #d52939;
  font-size: 18px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
}


.buttons-block{
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
}
.account-btn{
  display: block;
  width: 100%;
  max-width: 300px;
  min-height: auto;
  margin-right: auto;
  margin-bottom: 4%;
  margin-left: auto;
  padding: 9px 19px 9px 15px;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  background-color: transparent;
  background-image: none;
  color: #1c1c1c;
  font-size: 20px;
  line-height: 1.6em;
  text-align: center;
  
}
.account-btn:hover, .account-btn-mini:hover{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#d52939),to(#960606));
  background-image: linear-gradient(180deg,#d52939,#960606);
  color: #fff;
}
.account-btn.active{
  background-image: -webkit-gradient(linear,left top,left bottom,from(#960606),to(#d52939));
  background-image: linear-gradient(180deg,#960606,#d52939);
  color: #fff;
}
.account-btn.galka{
  margin-bottom: 4%;
  background-image: url("../../assets/images/-35.svg");
  background-position: 96% 50%;
  background-size: 20px;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .1s;
}
.account-btn.galka:hover, .account-btn.galka.open{
  background-image: url("../../assets/images/35.svg"),linear-gradient(180deg,#960606,#d52939),url("../../assets/images/35.svg");
  background-position: 96% 50%,0 0,93% 50%;
  background-size: 20px,auto,20px;
  background-repeat: no-repeat,repeat,no-repeat;
  color: #fff;
}
.account-btn-mini{
  margin-bottom: 2%;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  display: block;
  width: 100%;
  max-width: 300px;
  min-height: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 9px 19px 9px 15px;
  border: 1px solid #1c1c1c;
  border-radius: 8px;
  background-color: transparent;
  background-image: none;
  color: #1c1c1c;
  line-height: 1.6em;
  text-align: center;
}
.buttons-block-mini{
  padding-right: 20px;
}



@media (max-width: 1025px) {
  .account-right, .account-left{padding-left: 10px;padding-right: 10px;}
  .account-title {font-size: 26px;}
}

@media (max-width: 900px) {
  .account-btn {line-height: 1.4em;}
  .border-red{width: 60%;height: 2px;}
}

@media (max-width: 700px) {
  .account-title {font-size: 24px;}
  .border-red {width: 47%;}
  .account-left{padding-left: 5px;}
  .account-btn, .account-btn-mini {padding: 6px 10px 6px 10px;}
  .account-btn-mini {font-size: 16px;}
  .avatar{width: 70px;height: 70px;}
  .avatar-wrap {width: 73px;height: 73px;}
}

@media (max-width: 600px) {
  .account-left {
    border: none;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;}
  .account-wrap{
    display: flex;
    width: 70%;
    flex-direction: column;}
  .acc-row{flex-direction: column;}
  .border-red{width: 110px;height: 1px;}
  .account-right{margin-bottom: 40px;}
}

@media (max-width: 500px) {
  .account-wrap {width: 84%;}
  .account-title {font-size: 22px;}
}

@media (max-width: 400px) {
  .account-wrap {width: 100%;}
  .account-left{margin-bottom: 50px;}
}

@media (max-width: 330px) {
  .account-btn {font-size: 18px;}
  .border-red {width: 90px;}
  .account-title {font-size: 19px;}
}


